<nav id="sidebar" class="nav-sidebar sidebar-heading-section">
    <!-- Close btn-->
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <img th:src="@{assets2/user/img/logos/logo.png}" alt="sidebarlogo">
        </div>
        <div class="sidebar-navigation">
            <h3 class="heading">Pages</h3>
            <ul class="menu-list">
                <li><a href="#" class="active pt0">Index <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a th:href="@{/assets2/user/index.html}">Index 1</a></li>
                    </ul>
                </li>
                <li><a href="#">Rooms <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a th:href="@{/assets2/user/rooms-col-2.html}">2 Column</a></li>
                        <li><a th:href="@{/assets2/user/rooms-details.html}">Rooms Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li>
                            <a href="#">About Us<em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a th:href="@{/assets2/user/about.html}">About Us</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Gallery<em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a th:href="@{/assets2/user/gallery-3column.html}">Gallery 3 Column</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/assets2/user/booking-system.html}">Booking System</a></li>
                        <li>
                            <a href="#">Staff <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a th:href="@{/assets2/user/staff.html}">Staff</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Events <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a th:href="@{/assets2/user/events.html}">Events</a></li>
                                <li><a th:href="@{/assets2/user/events-details.html}">Events Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/assets2/user/pricing-tables.html}">Pricing Tables</a></li>
                        <li><a th:href="@{/assets2/user/typography.html}">Typography</a></li>
                        <li><a th:href="@{/assets2/user/faq.html}">Faq</a></li>
                        <li><a th:href="@{/assets2/user/login.html}">Login</a></li>
                        <li><a th:href="@{/assets2/user/signup.html}">Signup</a></li>
                        <li><a th:href="@{/assets2/user/forgot-password.html}">Forgot Password</a></li>
                        <li><a th:href="@{/assets2/user/404.html}">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a th:href="@{/assets2/user/contact.html}">Contact</a></li>
                        <li><a th:href="@{/assets2/user/contact-2.html}">Contact 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a th:href="@{/assets2/user/blog-right-sidebar.html}">Blog Right Sidebar</a></li>
                        <li><a th:href="@{/assets2/user/blog-left-sidebar.html}">Blog Left Sidebar</a></li>
                        <li><a th:href="@{/assets2/user/blog-full-width.html}">Blog Fullwidth</a></li>
                        <li><a th:href="@{/assets2/user/blog-creative.html}">Blog Creative</a></li>
                        <li><a th:href="@{/assets2/user/blog-details.html}">Blog Detail</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="get-in-touch">
            <h3 class="heading">Get in Touch</h3>
            <div class="sidebar-contact-info">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="body-info">
                    <a href="tel:0477-0477-8556-552">0477 8556 552</a>
                </div>
            </div>
            <div class="sidebar-contact-info">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="body-info">
                    <a href="#">info@themevessel.com</a>
                </div>
            </div>
            <div class="sidebar-contact-info mb-0">
                <div class="icon">
                    <i class="fa fa-fax"></i>
                </div>
                <div class="body-info">
                    <a href="tel:0477-0477-8556-552">0266 8556 787</a>
                </div>
            </div>
        </div>
        <div class="get-social">
            <h3 class="heading">Get Social</h3>
            <a href="#" class="facebook-bg">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="twitter-bg">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="google-bg">
                <i class="fa fa-google"></i>
            </a>
            <a href="#" class="linkedin-bg">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
</nav>